@tailwind base;
@tailwind components;
@tailwind utilities;

/* Footer */
.footer-top {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}

/* timeline */

/* vertical timeline - why use DocEye section*/
.vertical-timeline::before {
  background-color: #09528c !important;
}
.vertical-timeline-element-content {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px !important;
}

/* Avatar inp in signup page  */
.avatar-wrapper [data-slot="input-wrapper"] {
  flex: 1;
  padding: 0;
}
.avatar-wrapper [data-slot="input-wrapper"] input {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
