@tailwind base;
@tailwind components;
@tailwind utilities;

/* Footer */
.footer-top {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}

/* timeline */

/* vertical timeline - why use DocEye section*/
.vertical-timeline::before {
  background-color: #09528c !important;
}
.vertical-timeline-element-content {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px !important;
}

/* Avatar inp in signup page  */
.avatar-wrapper [data-slot="input-wrapper"] {
  flex: 1;
  padding: 0;
}
.avatar-wrapper [data-slot="input-wrapper"] input {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* Scrollbar */

body,
.my-scrollbar {
  --sb-track-color: #dcdcdc;
  --sb-thumb-color: #09528c;
  --sb-size: 10px;
}

body::-webkit-scrollbar,
.my-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track,
.my-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb,
.my-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .my-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* modify radio of payment option in checkout page  */
.payment-radio > div {
  flex: 1;
}

@media screen {
  #printContent {
    display: none;
  }
}

/* Gradient button */
.gradient-btn {
  @apply w-full text-white h-12 text-lg font-semibold rounded-xl shadow-lg transition-all bg-gradient-to-r from-blue-600 to-indigo-700 hover:from-blue-700 hover:to-indigo-800 disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none;
}
